################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DelegateFuncAction/v16
/Delegate/bin/Debug/netcoreapp3.1
/Delegate/obj
